/*General*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    max-width: 900px;
/*Mettre en 100% la largeur de l'en tête et du footer*/
/*max-width: 100%;*/
    height: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
}

/*Image de marque*/
header {
    background-color: #009D87;
    color: #FECC35;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 30px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

/*Barre de recherche
#search {
    border: 2px lightgrey solid;
    background-color: lightgrey;
    display: flex;
    font-size: 2em;
    padding: 2px;
}

#search input {
    border: none;
    width: 100%;
    background-color: lightgrey;
}
*/

/*Page menu*/
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 30px;
}

a {
    text-decoration: none;
    color: black;
}

#gauche {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
/*Mettre en 100% la largeur de l'en tête et du footer*/
/*margin-left: 100%;*/
}

#droite {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
/*Mettre en 100% la largeur de l'en tête et du footer*/
/*margin-right: 100%;*/
}

#chic,
#papille,
#palette {
    margin: 20px;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    display: block;
}

#enchantee {
    background-color: #FCDFDA;
    margin: 20px;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

#chic,
#papille,
#palette,
#enchantee {
    width: 400px;
    height: 500px;
}

.alignement {
    padding-top: 180px;
    padding-bottom: 100px;

}
/*Image de la note sur le menu enchantée avec une taille de 20%*/
.alignementNote {
    padding-top: 120px;
    padding-bottom: 100px;
}

img {
    width: 20%;
}

#chic {
    background-color: #FFF5FE;
}

#degradeChic {
    font-family: 'Old Standard TT', serif;
    background: -o-linear-gradient(328deg, rgba(245, 158, 7, 1) 0%, rgba(141, 0, 255, 1) 100%);
    background: linear-gradient(122deg, rgba(245, 158, 7, 1) 0%, rgba(141, 0, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

#colorOrange {
    color: rgba(245, 158, 7, 1);
    font-family: 'Old Standard TT', serif;
    font-size: 30px;
}

#degradePapilles {
    font-family: 'Dancing Script', cursive;
    background: -o-linear-gradient(3deg, rgba(9, 9, 121, 1) 15%, rgba(0, 212, 255, 1) 100%);
    background: linear-gradient(87deg, rgba(9, 9, 121, 1) 15%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

#colorBlue {
    color: rgba(0, 212, 255, 1);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#degradePalette {
    font-family: 'Shadows Into Light', cursive;
    font-style: italic;
    background: -o-linear-gradient(186deg, rgba(65, 150, 60, 1) 0%, rgba(190, 255, 127, 1) 100%);
    background: linear-gradient(264deg, rgba(65, 150, 60, 1) 0%, rgba(190, 255, 127, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

#colorGreen {
    color: rgba(65, 150, 60, 1);
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}

#papille {
    background-color: #FDFFFD;
    font-family: 'Dancing Script', cursive;
}

#palette {
    background-color: #F9F9F9;
}

.transition>div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    opacity: 1;
}

.transition>div:hover {
    /*La fonction scale permet de modifier la taille
    d'un élément avec un facteur d'échelle sur deux dimensions.*/
    -webkit-transform: scale(1.27);
    -ms-transform: scale(1.27);
    transform: scale(1.27);
    opacity: 0.33;
}

/*bouton*/
.bouton {
    background-color: #009D87;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #FECC35;
    font-size: 30px;
    padding: 12px 37px;
    text-decoration: none;
    width: 40%;
}

#bouton {
    text-align: center;
    margin-bottom: 40px;
}

.un {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation-delay: 0.0s;
}

.deux {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.trois {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*footer*/
footer {
    background-color: #009D87;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    width: 100%;
}

footer>a {
    text-decoration: none;
    color: #FECC35;
    padding-left: 12px;
    padding-right: 12px;
}

/*Footer fonction shake*/
footer>a:hover {
    -webkit-animation: shake 0.5s;
    animation: shake 0.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(1px, 1px) rotate(0deg);
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        -webkit-transform: translate(3px, 2px) rotate(0deg);
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: translate(1px, 1px) rotate(0deg);
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        -webkit-transform: translate(3px, 2px) rotate(0deg);
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(3px, 1px) rotate(-1deg);
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        -webkit-transform: translate(1px, 2px) rotate(0deg);
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
